* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#alert:visited {
    background-color: beige;
}

#somme:visited {
    background-color: yellow;
}

#alert:hover {
    background-color: brown;
}

#somme:hover {
    background-color: green;
}

#alert:active {
    background-color: blue;
}

#somme:active {
    background-color: red;
}

